PORT=3000
BRIDGE_AUTH_USERNAME=admin
BRIDGE_AUTH_PASSWORD=nimda
LOG_LEVEL=

DEFAULT_LANG=de

CONN_MODE=HTTP
SSL_KEY=
SSL_CERT=

OAUTH_TOKEN_URL=https://api.emporix.io/oauth/token
BASE_URL=https://api.emporix.io/product/n11showcase
MEDIA_CDN_URL=http://res.cloudinary.com/saas-ag/image/upload/v1694790569/n11showcase/media
OCC_PATH=/occ/v2/
CMS_PATH=/cmswebservices/v1/sites/
BASE_SITE_ID=electronics-spa
CATALOG_ID=electronicsProductCatalog
CATALOG_VERSION=Online

CONTENT_CATALOG_ID=electronics-spaContentCatalog
CONTENT_CATALOG_VERSION=Online

API_USERNAME=admin
API_PASSWORD=nimda

EMPORIX_CLIENT_ID=
EMPORIX_CLIENT_SECRET=

AIR_KEY=